* {
    --padding: 1vh;
    --radius: 10px
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
    rgb(234, 90, 90),
    rgb(33, 16, 41)
  );
  opacity: 0.75;
}

table, td {
    border: 1px double black;
    padding: var(--padding);
    border-radius: var(--radius);
    width: 40vh;
}

body>p {
    display: flex;
    justify-content: center;
    padding: 5vh 0 10vh 0;
}

#addBook {
    width: 12vh;
    height: 5vh;
    border-radius: var(--radius);
}