* {
    --padding: 1vh;
    --radius: 10px;
    --font: white;
}

.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 600;
    font-style: normal;
}  

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
  
  

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100vw;
    background-image: linear-gradient(
    rgb(234, 90, 90),
    rgb(33, 16, 41)
  );
  opacity: 0.75;
}



#btnRow {
    background: none;
    border: none;
    text-align: right;
}

.removeBtn {
    border-radius: var(--radius);
    padding: var(--padding);
    font-family: "Unlock", serif;
}

.removeBtn:hover,
#addBook:hover {
    background-color: antiquewhite;
    color: rgb(9, 9, 56);
}

.removeBtn:active {
    background-color: antiquewhite;
    color: rgb(9, 9, 56);
    box-shadow: 2px 2px 2px rgb(107, 107, 107);
}

#addBook:active {
    background-color: antiquewhite;
    color: rgb(9, 9, 56);
    box-shadow: 5px 5px 5px rgb(42, 41, 41);
}

body>p {
    display: flex;
    justify-content: center;
    padding: 5vh 0 10vh 0;
}

#addBook {
    width: 17vh;
    height: 8vh;
    border-radius: var(--radius);
    font-family: "Unlock", serif;
    font-size: 20px;
}

button {
    cursor: pointer;
}

#dialog {
    border-radius: var(--radius);
    background-color: antiquewhite;
}

.readBtn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--font);
    padding: 0;
    margin: 0;
}

.booksContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

table, td {
    border: 1px double rgb(0, 0, 0);
    padding: var(--padding);
    border-radius: var(--radius);
    width: 50vh;
    font-family: "Josefin Sans", sans-serif;
}
    
table {
    background-color: rgb(252, 252, 252);
    color: black;
    margin: 2vh;
    table-layout: fixed;
    display: none;

}

td {
    background-color: rgba(77, 21, 11, 0.8);  
    color: white;
}

th {
    font-family: "Italianno", cursive;
    padding: 1vh;
    font-size: 20px;
}

